#main {
    /* margin: 40px 100px; */
    display: grid;
    justify-content: center;
}
#contact_modal {
    display: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
/*
--------------------------------------------------------------------------------------------------
PARTIE HEADER
--------------------------------------------------------------------------------------------------
*/
.photograph-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
}
.photograph-presentation {
    display: flex;
    flex-direction: column;
}
.photograph-presentation name {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
}
.photograph-presentation city {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
}
.photograph-presentation dicton {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}
.photograph-header .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photograph-header .img-container img {
    margin-top: 25px;
    scale: 10%;
}
/*
--------------------------------------------------------------------------------------------------
BOUTON CONTACT
--------------------------------------------------------------------------------------------------
*/
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/*
--------------------------------------------------------------------------------------------------
PARTIE "TRIER PAR"
--------------------------------------------------------------------------------------------------
*/
.section-media-filters {
    display: flex;
    justify-content: flex-start;
    height: 90px;
    margin-top: 10px;
}
.trier-par {
    size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    margin-right: 25px;
}
.filter-popularity, .filter-date, .filter-titre {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    border-color: white;
    border-bottom: white;
}

.menu-filters {
    /* height: 23px;
    width: 130px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 25px;
    align-items: center;
    position: relative;
    background-color: #901C1C;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    width: 170px;
}

.menu-filters .menu-premiere-partie {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px 5px 0 0;
    padding: 20px 20px 10px 20px;
    height: 23px;
    background-color: #901C1C;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-premiere-partie i {
    cursor: pointer;
    margin-left: 25px;
}

.menu-premiere-partie:hover i {
    transform: rotate(-180deg);
}

/* .menu-filters .menu-deuxieme-partie {
    display: none;
    filter: none;
} */
.menu-filters .menu-deuxieme-partie {
    display: grid;
    position: relative;
    column-gap: 15px;
    row-gap: 25px;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 20px 20px;
    background-color: #901C1C;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*
--------------------------------------------------------------------------------------------------
PARTIE MEDIA CARDS
--------------------------------------------------------------------------------------------------
*/
.wrapper {
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    column-gap: 95px;
    row-gap: 30px;
}
/* Cartes media */
.media-card {
    overflow: hidden;
    max-width: 350px;
    max-height: 350px;
}
.media-card .media-container {
    width: 350px;
    height: 300px;
}
.media-container .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* Zone titre */
.card-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.media-title {
    display: flex;
    align-items: center;
    margin: 0;
    color: #901C1C;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; Impossible car display:flex; --> need display:block; pour fonctionner */  
}
/* Zone likes & bouton coeur */
.likes-heart-area {
    display: flex;
    align-items: center;
    margin: 0;
    height: 50px;
}
.nombre-likes {
    margin: 0;
    color: #901C1C;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
}
.logo-heart {
    display: flex;
    align-items: center;
    margin-left: 6.38px;
}
/*
--------------------------------------------------------------------------------------------------
PARTIE MEDIA VIDEO
--------------------------------------------------------------------------------------------------
*/