#main {
    /* margin: 40px 100px; */
    display: grid;
    justify-content: center;

    position: relative;
}
#contact_modal {
    display: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
/*
----------------------------------------------------------------------------------------------------
PARTIE HEADER
----------------------------------------------------------------------------------------------------
*/
.photograph-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
}
.photograph-presentation {
    display: flex;
    flex-direction: column;
}
.photograph-presentation name {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
}
.photograph-presentation city {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
}
.photograph-presentation dicton {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
}
.photograph-header .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photograph-header .img-container img {
    margin-top: 25px;
    scale: 10%;
}

/*
----------------------------------------------------------------------------------------------------
PARTIE "TRIER PAR"
----------------------------------------------------------------------------------------------------
*/
.section-media-filters {
    display: flex;
    justify-content: flex-start;
    height: 90px;
    margin-top: 10px;
}
.trier-par {
    size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    margin-right: 25px;
}
.dropdown {
    z-index: 1;
    display: grid;
    position: relative;
    height: 170px;
    width: 170px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    cursor: pointer;
    background-color: #901C1C;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .5px;
    height: calc((170px/3) - 1px); /* <<< ICI, IL FAUDRA SOUSTRAIRE 2px LORSQUE LE 2EME EMPTYBUTTON SERA AJOUTE */
}
.menu-filter > i {
    margin-left: auto;
    font-size: 20px;
    transform: rotate(180deg);
}
.menu-filter .style-bouton-titre {
    border-radius: 0 0 5px 5px;
} 
.menu-dropdown {
    visibility: hidden ;
    display: flex;
    opacity: 0;
    flex-direction: column;
    transform: translateY(-50%);
}
.style-bouton-popularite {
    border-radius: 5px;
}
.dropdown:hover .menu-dropdown {
    visibility: visible ;
    opacity: 1;
    transform: translateY(0%);
    transition: .45s ease-in-out;
}
.dropdown:hover .style-bouton-popularite {
    transition: .45s ease-in-out;
    border-radius: 5px 5px 0 0;
}
.dropdown:hover .style-bouton-titre {
    transition: .45s;
    border-radius: 0 0 5px 5px;
}
.dropdown:hover i {
    transform: rotate(0deg);
    transition: .45s ease-in-out;
}
.dropdown .menu-filter:hover{
    transition: .25s ease-in-out;
    background-color: #7c1b1b;
}
.empty-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #901C1C;
    height: 1px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}
.empty-button-red {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 1px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}
/*
----------------------------------------------------------------------------------------------------
PARTIE MEDIA CARDS >>>>>>>>>>>>> Pour le Lightbox aussi !
----------------------------------------------------------------------------------------------------
*/
/* Wrapper grid */
.wrapper {
    display: grid;
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    column-gap: 95px;
    row-gap: 30px;
}
/* Zone carte & Media */
.media-card {
    display: grid;
    overflow: hidden;
    max-width: 350px;
    max-height: 350px;
}
.media-container {
    width: 350px;
    height: 300px;
}
.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* Zone titre */
.card-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.media-title {
    display: flex;
    align-items: center;
    margin: 0;
    color: #901C1C;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; Impossible car display:flex; --> need display:block; pour fonctionner */  
}
/* Zone likes & bouton coeur */
.likes-heart-area {
    display: flex;
    align-items: center;
    margin: 0;
    height: 50px;
}
.nombre-likes {
    margin: 0;
    color: #901C1C;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
}
.logo-heart {
    display: flex;
    align-items: center;
    margin-left: 6.38px;
}
/*
----------------------------------------------------------------------------------------------------
PARTIE TARIFICATION
----------------------------------------------------------------------------------------------------
*/
.zone-tarification {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 376px;
    height: 73px;
    bottom: 0;
    right: 36px;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
}
.partie-likes {
    display: flex;
    justify-content: center;
    align-items: center;
}
#total-likes {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
}
.partie-tarifs {
    display: flex;
    justify-content: center;
    align-items: center;
}
#tarif-quotidien {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}